<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admhome.css">
    <title>Admin Home</title>
</head>
<body>
    <div class="top-bar">
        <h1>Admin Home Page</h1>
    </div>
    <div class="flex-container">
        <button class="buttons" id="formsDir"><img src="forms-button.png"></button>
        <button class="buttons" id="logsDir"><img src="logs-button.png"></button>

    </div>
    <script src="admhome-script.js"></script>
</body>
</html>